{% extends 'core/base_real.html' %}
{% load static %}
{% block title %}Vehículos{% endblock %}
{% block content %}
{% include 'vehiculos/includes/vehiculos_menu.html' %}

<main role="main">
	<div>
		<nav id="ioSubMenu">
		  <div id="card_submenu">
		    <ul>
		    	<li><a href="{% url 'vehiculos:nuevo_cliente' %}">Nuevo</a></li>
		    	<li><a href="{% url 'vehiculos:cliente_search' %}">Buscar</a></li>
		    	<li><a href="{% url 'vehiculos:buscar_cliente_vehiculo' %}">Avanzado</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
</main>
{% endblock %}