{% extends 'core/base_real.html' %}
{% load static %}
{% block title %}Buscar proveedor{% endblock %}
{% block content %}

{% if query %}
	<h1>Proveedores que contienen "{{ query }}"</h1>
	<h3>{% with results.count as total_results %}Encontrados {{ total_results }} resultado {{ total_results|pluralize}}
	{% endwith %}</h3>
	{% for proveedor in results %}
		<h4><a href="{% url 'vehiculos:proveedor_detail' proveedor.id %}">{{proveedor.nombre}}</a></h4>
		{{ proveedor.movil}} - {{proveedor.persona_contacto}} - {{proveedor.email}}
		{% empty %}
		<p>Sin resultados para la búsqueda.</p>
	{% endfor %}
	<p><a href="{% url 'vehiculos:proveedor_search' %}">Buscar de nuevo</a></p>
{% else %}
	<h1>Buscar proveedores</h1>
	<form action="." method="get">
		{{ form.as_p}}
		<input type="submit" name="Buscar">
	</form>
{% endif %}
{% endblock %}