{% extends 'core/base_real.html' %}
{% load static %}
{% block title %}Vehículos{% endblock %}
{% block content %}

<main role="main">
	<div>
	<!--	<form method="GET">
		#	{{filter.form}}
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
	-->
		<ul>
			<th>DNI</th>
			<th>matricula</th>
			<th>marca</th>
			<th>modelo</th>
			{% for cliente in filter.qs %}
				<div>
					<td></td>
					<td>{{cliente.dni}}</td>
					<td>{{cliente.vehiculo.matricula}}</td>
					<td>{{cliente.vehiculo.marca}}</td>
					<td>{{cliente.vehiculo.modelo}}</td>
					<td><a href="{% url 'vehiculos:editar' cliente.id %}">Editar</a></td>
				</div>
			{% endfor %}
		</ul>
	</div>
</main>
{% endblock %}
