{% extends 'core/base_real.html' %}
{% load static %}
{% block title %}Vehículos{% endblock %}
{% block content %}
<main role="main">
	<div>
		{% for vehiculo in vehiculo_list|dictsort:"id" reversed %}
			<div>
				<div>
					<h2>{{vehiculo.matricula}}</h2>
					<div>
						<p>{{vehiculo.matricula|striptags|safe|truncatechars:"200"}}</p>
						<p><a href="{% url 'vehiculos:vehiculo' vehiculo.id vehiculo.modelo|slugify %}">Leer más</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
