<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Nuevo Cliente</title>
	
	<script src="{% static 'core/js/modernizr-custom.js' %}"></script>
	<link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/design.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/icomoon.css' %}">
</head>
<body>
	<header>
		<h1>
			<a href="{% url 'home' %}">Home</a>
		</h1>
		<nav id="ioMenu">
			<a href=""></a>
		</nav>
	</header>
</body>
</html>